doctype html
html
	head
		title Action Log – TheFlamingShark Links
		include includes/semantic_head.pug
		include includes/head.pug
	body
		include includes/header.pug
		main.ui.container
			div.ui.divided.items
				each entry in entries
					div.item
						div.ui.mini.avatar.image
								img(src=users[entry.userId] && users[entry.userId].info.avatar ? users[entry.userId].info.avatar : '', alt="")
						div.content
							div.header #{users[entry.userId] && users[entry.userId].info.tag ? users[entry.userId].info.tag : ''}
							div.meta #{entry.userId}
							div.meta #{entry.timestamp.toISOString()}
							div.description
								p #{entry.action} #[br] #{entry.dataStr}
		include includes/footer.pug
