doctype html
html
	head
		title Action Log – TheFlamingShark Links
		include includes/semantic_head.pug
		include includes/head.pug
	body
		include includes/header.pug
		main.ui.container
			if pagination
				div.ui.pagination.menu
					each page in pagination
						if page.active
							a.active.item(href=page.url) #{page.text}
						else if page.url
							a.item(href=page.url) #{page.text}
						else
							a.disabled.item #{page.text}
			div.ui.divided.items
				each entry in entries
					div.item
						div.ui.mini.avatar.image
								img(src=users[entry.userId] && users[entry.userId].info.avatar ? users[entry.userId].info.avatar : '', alt="")
						div.content
							div.header #{users[entry.userId] && users[entry.userId].info.tag ? users[entry.userId].info.tag : ''}
							div.meta #{entry.userId}
							div.meta #{entry.timestamp.toISOString()}
							div.description
								p #{entry.action} #[br] #{entry.dataStr}
			if pagination
				div.ui.pagination.menu
					each page in pagination
						if page.active
							a.active.item(href=page.url) #{page.text}
						else if page.url
							a.item(href=page.url) #{page.text}
						else
							a.disabled.item #{page.text}
		include includes/footer.pug
