- title = title || 'Show'
include includes/top.pug
		h1 #{show.name}
		ul
			each video in videos
				li
					a(href=`/${show.urlName}/${video.urlEpisodes}`) #{video.episodes}
					ul
						each link in video.links
							li
								a(href=`/${show.urlName}/${video.urlEpisodes}/${link.linkId}`) Link #{link.linkId}
		include includes/bottom.pug
