doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 #{show.name}
			ul
				each video in videos
					li
						a(href=`/${show.urlName}/${video.urlEpisodes}`)
							div.card.hoverable
								div.card-content
									span.card-title #{video.episodes}
									div.collection
										each link in video.links
											a.collection-item.avatar(href=`/${show.urlName}/${video.urlEpisodes}/${link.linkId}`)
												span.title #{(new URL(link.url)).hostname}
												if (link.uploader && link.uploader.info.avatar && link.uploader.info.tag)
													img.circle(src=link.uploader.info.avatar, alt="")
													p added by #{link.uploader.info.tag}
												else
													img.circle(alt="")
													p added by #[em #{link.uploaderId}]
		include includes/footer.pug
