- title = title || 'Show'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 #{show.name}
			ul
				each video in videos
					li
						a(href=`/${show.urlName}/${video.urlEpisodes}`)
							div.card
								div.card-content
									span.card-title #{video.episodes}
									div.collection
										each link in video.links
											a.collection-item(href=`/${show.urlName}/${video.urlEpisodes}/${link.linkId}`) Link #{link.linkId}
		include includes/footer.pug
