doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 #{show.name} #{video.episodes}
			div.collection
				each link in video.links
					a.collection-item(href=`/${show.urlName}/${video.urlEpisodes}/${link.linkId}`) Link #{link.linkId}
		include includes/footer.pug
